.player {
    display: flex;
}

.player .avatar {
    margin-top: 1rem;
}

.player .avatar .avatar-image {
    height: 184px;
    width: 184px;
}

.player .info-col .info-name {
    font-size: 5rem;
    font-weight: 300;
    color: white;
    margin-bottom: 0.5rem;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.player .info-col .info-rank {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.player .info-col .info-points {
    font-size: 2.5rem;
    font-weight: 300;
    color: rgba(255,255,255,0.6);
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.bottom-row {
    display: flex;
    margin-top: 3rem;
}

.bottom-row .country-box {
    width: 184px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.bottom-row .country-box .country-name {
    color: rgba(255,255,255,0.86);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom-row .medals {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.bottom-row .medals .medal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.bottom-row .medals .medal .medal-image {
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.bottom-row .medals .medal .medal-count {
    color: rgba(255,255,255,0.86);
    font-size: 1.5rem;
    font-weight: 500;
}