.canvas {
    height: 100vh;
    background-color: #121212;
}

.canvas .stream-section {
    height: 70%;
    width: 100%;
}

.canvas .stream-section .players-row {
    display: flex;
    height: 100%;
    align-items: center;
}

.canvas .settings-section {
    height: 30%;
    background-color: #0e0e0e;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75) inset;
}

.canvas .settings-section .players-input {
    padding: 1rem;
    text-align: center;
}

.canvas .settings-section .players-input input {
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: rgba(255,255,255,0.86);
    font-size: 0.875rem;
    padding: 0.65625rem 0.65625rem;
}

.canvas .settings-section .players-input button {
    font-size: 0.875rem;
    padding: 0.65625rem 0.65625rem;
    border: none;
    font-weight: 500;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}