@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto-Light"), url("./fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto-Regular"), url("./fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto-Medium"), url("./fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto-Bold"), url("./fonts/Roboto-Bold.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: inherit;
  background: #9FA8DA;
  cursor: pointer;
}

button:hover {
  background: rgba(159, 168, 218, 0.86);
}

button:active {
  background: rgba(159, 168, 218, 0.86);
  box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 75%) inset;
  transform: translateY(1px);
}

input {
  font-family: inherit;
}